li.ToDoItem {
  border-bottom: 2px solid #4d5463;
  color: #F2F2F2;
  font-size: calc(10px + 1.5vmin);
  padding: 10px;
  text-align: left;
}

li.ToDoItem input[type="checkbox"] {
  margin-right: 15px;
}